In [1]:
import pandas as pd

# Pair programming Intro a Pandas
1. ¿Qué diferencia hay entre una Serie y un DataFrame?

Un DataFrame tiene dos dimensiones (bidimensional),tiene columnas que pueden ser de un tipo diferente cada una, también tiene filas relacionadas con estas columnas. Y una serie tiene solo una dimensión (unidimensional).

Por otro lado, una serie está etiquetada con un índice (numérico o etiquetas), puede contener datos de cualquier tipo (int,float,cadenas...), y se puede crear a partir de listas, arrays de NumPy u otras Series. Mientras que un Dataframe puede ser visto como un conjunto de series que comparten el mismo índice.

2. Contesta a las siguientes preguntas:

- Crea dos listas:
    - Una que se llame "valores" que tenga 7 números aleatorios.

In [10]:
# Forma A)
import random
lista_valores = [random.randint(0,100) for lista_valores in range (7)]
lista_valores

[50, 79, 40, 25, 14, 19, 47]

In [14]:
# Forma B)
import numpy as np
lista_valores_2 =list(np.random.randint(0,100,7))
lista_valores_2

[0, 33, 43, 56, 32, 11, 96]

- Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [19]:
lista_indices = ["lunes","martes","miercoles","jueves","viernes","sabado","domingo"]

- A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

In [21]:
serie_1 = pd.Series(lista_valores, index = lista_indices)
serie_1

lunes        50
martes       79
miercoles    40
jueves       25
viernes      14
sabado       19
domingo      47
dtype: int64

- A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

In [32]:
dict_resultado = {}
resultado = zip(lista_indices, lista_valores)


for indice,valor in resultado:
    dict_resultado[indice]=valor

print(dict_resultado)

{'lunes': 50, 'martes': 79, 'miercoles': 40, 'jueves': 25, 'viernes': 14, 'sabado': 19, 'domingo': 47}

- Crea una Serie con el diccionario creado en el punto anterior.

In [34]:
serie_resultados = pd.Series (dict_resultado)
serie_resultados

lunes        50
martes       79
miercoles    40
jueves       25
viernes      14
sabado       19
domingo      47
dtype: int64

- ¿Qué forma tiene esta última Serie? ¿Qué tipo de datos tiene?

Tiene dos columnas, una columna de strings y otra de int, y tiene 7 filas

- ¿Qué tamaño tiene?

In [35]:
serie_resultados.size

7

- ¿Cuáles son los índices de la Serie?

In [36]:
serie_resultados.index

Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')

- ¿Y los values?

In [37]:
serie_resultados.values

array([50, 79, 40, 25, 14, 19, 47])

- Extrae el valor para el índice "lunes"

In [38]:
serie_resultados["lunes"]

50

- Extrae el valor para el índice "lunes", "martes" y "miércoles".

In [39]:
serie_resultados["lunes": "miercoles"]

lunes        50
martes       79
miercoles    40
dtype: int64

- Extrae el valor para el índice "lunes" y "domingo"

In [49]:
serie_resultados[["lunes","domingo"]]

lunes      50
domingo    47
dtype: int64

# DataFrames
- Crea un array de dos dimensiones con 4 filas y 3 columnas.

In [50]:
array_paises = np.empty((4,3))
array_paises

array([[4.68064136e-310, 0.00000000e+000, 1.03977794e-312],
       [9.54898106e-313, 1.10343781e-312, 1.03977794e-312],
       [1.23075756e-312, 1.12465777e-312, 1.12465777e-312],
       [9.76118064e-313, 1.01855798e-312, 1.90979621e-312]])

- Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [53]:
df_paises = pd.DataFrame(array_paises)
columnas = ["España", "Francia"," Italia"]
df_paises.columns = columnas
df_paises

          España        Francia         Italia
0  4.680641e-310   0.000000e+00  1.039778e-312
1  9.548981e-313  1.103438e-312  1.039778e-312
2  1.230758e-312  1.124658e-312  1.124658e-312
3  9.761181e-313  1.018558e-312  1.909796e-312

- Descarga el archivo "medallas" y carga el DataFrame.

In [62]:
df_medallas= pd.read_csv("medallas.csv", index_col= 0)
df_medallas

               País   Oro  Plata  Bronce
1             China  1473    994     720
2             Japón  1032   1037     985
3     Corea del Sur   745    663     827
4              Irán   179    181     197
5        Kazajistán   155    158     224
6             India   154    202     315
7         Tailandia   132    175     278
8         Indonesia   112    131     240
9      China Taipéi    99    144     276
10  Corea del Norte    91    120     235

- Usando el loc extrae todas las columnas de la fila de Tailandia.

In [71]:
df_medallas.loc["Tailandia":]

Empty DataFrame
Columns: [País, Oro, Plata, Bronce]
Index: []

- Usando el loc extrae todas las columnas de China e Irán.-