In [66]:
import pandas as pd

# Pair programming EDA

Para realizar este pair programming deberéis usar el conjunto de datos de world-data-2023-part1.csv.

    # Ejercicios de exploración del conjunto de datos
1- Muestra las primeras 5 filas del conjunto de datos.

In [67]:
df_world = pd.read_csv("world-data-2023_part1.csv", index_col=0)
df_world.head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

2- Muestra las últimas 5 filas del conjunto de datos.

In [68]:
df_world.tail(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

3- Muestra una muestra aleatoria de 5 filas del conjunto de datos.

In [69]:
df_world.sample(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
164,Spain,94,ES,52.60%,"505,370","196,000",7.90,34.0,Madrid,"244,002",110.96,0.70%,EUR,1.26,36.90%,$1.26
47,Djibouti,43,DJ,73.40%,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.30%,DJF,2.73,0.20%,$1.32
57,Ethiopia,115,ET,36.30%,"1,104,300","138,000",32.34,251.0,Addis Ababa,"14,870",143.86,15.80%,ETB,4.25,12.50%,$0.75
180,Turkmenistan,13,TM,72.00%,"488,100","42,000",23.83,993.0,Ashgabat,"70,630",NaN,NaN,TMT,2.79,8.80%,$0.29
17,Belize,17,BZ,7.00%,"22,966","2,000",20.79,501.0,Belmopan,568,105.68,-0.90%,BZD,2.31,59.70%,$1.13

4- Muestra el número total de filas y columnas en el conjunto de datos.

In [70]:
df_world.shape

(195, 16)

5- Muestra el nombre de todas las columnas en el conjunto de datos.

In [71]:
df_world.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

6- Muestra los valores únicos en la columna "Abbreviation".

In [72]:
df_world['Abbreviation'].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'CI', 'CV', 'KH', 'CM', 'CA',
       'CF', 'TD', 'CL', 'CN', 'CO', 'KM', nan, 'CR', 'HR', 'CU', 'CY',
       'CZ', 'CD', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER',
       'EE', 'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR',
       'GD', 'GT', 'GN', 'GW', 'GY', 'HT', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI', 'KW',
       'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG',
       'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR', 'MU', 'MX', 'FM', 'MD',
       'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NR', 'NP', 'NL', 'NZ', 'NI',
       'NE', 'NG', 'KP', 'NO', 'OM', 'PK', 'PW', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PL', 'PT', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'WS',
       'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SB',
       'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO', 'TT', 'TN', 'TR', 'TM', 'TV',
       'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ', 'VU', 'VE', 'VN', 'YE',
       'ZM', 'ZW'], dtype=object)

7- Cuenta cuántas veces aparece cada valor único en la columna "Abbreviation".

In [73]:
df_world['Abbreviation'].value_counts()

Abbreviation
AF    1
PY    1
NE    1
NG    1
KP    1
     ..
GR    1
GD    1
GT    1
GN    1
ZW    1
Name: count, Length: 188, dtype: int64

8- Verifica si hay valores nulos en el conjunto de datos.

In [74]:
df_world.isnull().sum()

Country                   0
Density\n(P/Km2)          0
Abbreviation              7
Agricultural Land( %)     7
Land Area(Km2)            1
Armed Forces size        24
Birth Rate                6
Calling Code              1
Capital/Major City        3
Co2-Emissions             7
CPI                      17
CPI Change (%)           16
Currency-Code            15
Fertility Rate            7
Forested Area (%)         7
Gasoline Price           20
dtype: int64

9- Verifica si hay valores no nulos en el conjunto de datos.

In [75]:
df_world.notnull().sum()

Country                  195
Density\n(P/Km2)         195
Abbreviation             188
Agricultural Land( %)    188
Land Area(Km2)           194
Armed Forces size        171
Birth Rate               189
Calling Code             194
Capital/Major City       192
Co2-Emissions            188
CPI                      178
CPI Change (%)           179
Currency-Code            180
Fertility Rate           188
Forested Area (%)        188
Gasoline Price           175
dtype: int64

10- Muestra información general sobre el conjunto de datos.

In [76]:
df_world.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    object
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    object
 4   Land Area(Km2)         194 non-null    object
 5   Armed Forces size      171 non-null    object
 6   Birth Rate             189 non-null    float64
 7   Calling Code           194 non-null    float64
 8   Capital/Major City     192 non-null    object
 9   Co2-Emissions          188 non-null    object
 10  CPI                    178 non-null    object
 11  CPI Change (%)         179 non-null    object
 12  Currency-Code          180 non-null    object
 13  Fertility Rate         188 non-null    float64
 14  Forested Area (%)      188 non-null    object
 15  Gasoline Price         175 non-null    object
dtypes: float64(3), object(13)
memory usage: 25.9+ KB

11- Elimina una columna específica (por ejemplo, "Armed Forces size").

In [77]:
df_world.drop(['Armed Forces size'], axis=1, inplace = True)

# con inplace = True se elimina la columna del data frame original

In [78]:
df_world.head(1)
#comprobamos que se ha eliminado

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70

12- Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas (para esto tendréis que usar el método '.describe(), su documentación la tenéis aquí).

In [79]:
df_world_num = df_world.select_dtypes(include = ['int', 'float'])
df_world_num.head(5)

   Birth Rate  Calling Code  Fertility Rate
0       32.49          93.0            4.47
1       11.78         355.0            1.62
2       24.28         213.0            3.02
3        7.20         376.0            1.27
4       40.73         244.0            5.52

In [80]:
df_world_num.describe().T

,count,mean,std,min,25%,50%,75%,max
Birth Rate,189.0,20.214974,9.945774,5.90,11.300,17.950,28.7500,46.08
Calling Code,194.0,360.546392,323.236419,1.00,82.500,255.500,506.7500,1876.00
Fertility Rate,188.0,2.698138,1.282267,0.98,1.705,2.245,3.5975,6.91

    # Ejercicios con loc e iloc
1 - Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

In [81]:
df_world.loc[2:4, :]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

2 - Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.

In [82]:
df_birth_rate_mayor_30 = df_world.loc[df_world["Birth Rate"]>30, :]
df_birth_rate_mayor_30.head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
18,Benin,108,BJ,33.30%,"112,622",36.22,229.0,Porto-Novo,"6,476",110.71,-0.90%,XOF,4.84,37.80%,$0.72
26,Burkina Faso,76,BF,44.20%,"274,200",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20%,XOF,5.19,19.30%,$0.98
27,Burundi,463,BI,79.20%,"27,830",39.01,257.0,Bujumbura,495,182.11,-0.70%,BIF,5.41,10.90%,$1.21

3 - Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3.

In [83]:
df_resultado_3 = df_world.loc[df_world["Fertility Rate"] > 3, ["Country", "Capital/Major City"]]
df_resultado_3.head(5)

         Country Capital/Major City
0    Afghanistan              Kabul
2        Algeria            Algiers
4         Angola             Luanda
18         Benin         Porto-Novo
26  Burkina Faso        Ouagadougou

4 - Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando loc.

In [84]:
df_resultado_4 = df_world.loc[df_world["Abbreviation"] == "AL", ["Gasoline Price"]]
df_resultado_4

  Gasoline Price
1         $1.36

5 - Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.

In [85]:
df_resultado_5 = df_world.loc[df_world["Capital/Major City"]== "Tirana", :]
df_resultado_5

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

6 - Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.

In [86]:
df_resultado_6 = df_world.loc[df_world["CPI"]== "128.85"]
df_resultado_6
# El dato de CPI está en string, no en float

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
40,Costa Rica,100,CR,34.50%,"51,100",13.97,506.0,San Jos������,"8,023",128.85,2.10%,CRC,1.75,54.60%,$0.98

7 - Encuentra la densidad (columna "Density\n(P/Km2)") para el país cuya abreviatura es "AD" utilizando loc.

In [87]:
df_resultado_7 = df_world.loc[df_world["Abbreviation"] == "AD", ["Density\n(P/Km2)"]]
df_resultado_7

  Density\n(P/Km2)
3              164

8 - Selecciona las columnas "Country" y "Co2-Emissions".

In [88]:
df_resultado_8 = df_world.loc[:, ["Country","Co2-Emissions"]]
df_resultado_8.head(5)

       Country Co2-Emissions
0  Afghanistan         8,672
1      Albania         4,536
2      Algeria       150,006
3      Andorra           469
4       Angola        34,693

9 - Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").

In [89]:
df_world["CPI Change (%)"].sample(10)

155    14.80%
179    15.20%
156     0.60%
46      0.80%
147     2.30%
112     4.80%
134    -0.40%
184    -1.90%
39      2.20%
125    -2.50%
Name: CPI Change (%), dtype: object

In [90]:
df_resultado_9 = df_world.loc[df_world["CPI Change (%)"]== "2.00%", :]
df_resultado_9

# El prcentaje está en object (string) -> es importante escrobirlo exactaente = (2.00%, y no 2%)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28

10 - Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando loc.

In [91]:
df_resultado_10 = df_world.loc[df_world["Abbreviation"]== "AF", ["Birth Rate"]]
df_resultado_10

   Birth Rate
0       32.49

In [92]:
df_world.head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

11 - Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando iloc.

In [93]:
df_resultado_11 = df_world.iloc[2:5, :]
df_resultado_11

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

12 - Selecciona las columnas 1, 3 y 6 para todas las filas utilizando iloc.

In [94]:
df_resultado_12 = df_world.iloc[:, [0,2,5]]
df_resultado_12.head(1)

       Country Abbreviation  Birth Rate
0  Afghanistan           AF       32.49

13 - Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

In [95]:
df_resultado_13 = df_world.iloc[:, 0:4]
df_resultado_13.head(1)

       Country Density\n(P/Km2) Abbreviation Agricultural Land( %)
0  Afghanistan               60           AF                58.10%

14 - Encuentra el valor en la fila 2 y columna 7 utilizando iloc.

In [96]:
df_resultado_14 = df_world.iloc[1, 6]
df_resultado_14

355.0

15 - Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

In [97]:
df_resultado_15 = df_world.iloc[:, [0, 2, 5]]
df_resultado_15

         Country Abbreviation  Birth Rate
0    Afghanistan           AF       32.49
1        Albania           AL       11.78
2        Algeria           DZ       24.28
3        Andorra           AD        7.20
4         Angola           AO       40.73
..           ...          ...         ...
190    Venezuela           VE       17.88
191      Vietnam           VN       16.75
192        Yemen           YE       30.45
193       Zambia           ZM       36.19
194     Zimbabwe           ZW       30.68

[195 rows x 3 columns]

16 -Selecciona las filas 0, 2 y 4 para todas las columnas utilizando iloc.

In [98]:
df_resultado_16 = df_world.iloc[0:6:2, :]
df_resultado_16

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

17 - Encuentra el valor en la última fila y la última columna utilizando iloc.

In [99]:
df_resultado_17 = df_world.iloc[-1, -1]
df_resultado_17

'$1.34 '

18 - Selecciona las filas 1 a 3 (inclusive) para todas las columnas utilizando iloc.

In [100]:
df_resultado_18 = df_world.iloc[1:4, :]
df_resultado_18

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
1,Albania,105,AL,43.10%,"28,748",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51

19 - Selecciona todas las filas para las columnas 1, 4 y 6 utilizando iloc.

In [101]:
df_resultado_19 = df_world.iloc[:, [1,4,6]]
df_resultado_19.head(1)

  Density\n(P/Km2) Land Area(Km2)  Calling Code
0               60        652,230          93.0

20 - Encuentra el valor en la fila 4 y columna 2 utilizando iloc.

In [102]:
df_resultado_20 = df_world.iloc[4, 2]
df_resultado_20

'AO'