# Ejercicios apply
1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
df_mergeworld = pd.read_csv("merge_world.csv")
df_mergeworld.head(5
                   )

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887

In [3]:
df_mergeworld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density                            195 non-null    object
 2   abbreviation                       188 non-null    object
 3   agriculturalland                   188 non-null    float64
 4   landarea                           194 non-null    object
 5   armedforcessize                    171 non-null    object
 6   birthrate                          189 non-null    float64
 7   callingcode                        194 non-null    float64
 8   capital/majorcity                  192 non-null    object
 9   co2-emissions                      188 non-null    object
 10  cpi                                178 non-null    object
 11  cpichange                          179 non-null    float64
 12  currency-code                      180 non-null    object
 13  fertilityrate                      188 non-null    float64
 14  forestedarea                       188 non-null    float64
 15  gasolineprice                      175 non-null    float64
 16  gdp                                193 non-null    object
 17  grossprimaryeducationenrollment    188 non-null    float64
 18  grosstertiaryeducationenrollment   183 non-null    float64
 19  infantmortality                    189 non-null    float64
 20  largestcity                        189 non-null    object
 21  lifeexpectancy                     187 non-null    float64
 22  maternalmortalityratio             181 non-null    float64
 23  minimumwage                        150 non-null    float64
 24  officiallanguage                   190 non-null    object
 25  outofpockethealthexpenditure       188 non-null    float64
 26  physiciansperthousand              188 non-null    float64
 27  population                         194 non-null    object
 28  populationlaborforceparticipation  176 non-null    float64
 29  taxrevenue                         169 non-null    float64
 30  totaltaxrate                       183 non-null    float64
 31  unemploymentrate                   176 non-null    float64
 32  urban_population                   190 non-null    object
 33  longitud                           195 non-null    object
 34  latitud                            195 non-null    object
dtypes: float64(19), object(16)
memory usage: 53.4+ KB

- Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [4]:
lista_columnas = ["landarea", "armedforcessize", "co2-emissions", "gdp", "population", "urban_population", "latitud", "longitud", "cpi"]

In [5]:
#hacemos una función que convierta de string a numérico

def convertir_columna_numerica(nombre_columna):
    return pd.to_numeric(str(nombre_columna).replace(',', ''), errors='coerce')

In [6]:
# Usamos Apply para aplicar la función 

df_mergeworld[lista_columnas] = df_mergeworld[lista_columnas].apply(lambda x: x.apply(convertir_columna_numerica))

In [7]:
df_mergeworld

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331
2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626
3,Andorra,164,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,912050.0,343000.0,17.88,58.0,Caracas,164175.0,2740.27,254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,28515829.0,59.7,NaN,73.3,8.80,25162368.0,6.423750,-66.589730
191,Vietnam,314,VN,39.3,331210.0,522000.0,16.75,84.0,Hanoi,192668.0,163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,14.058324,108.277199
192,Yemen,56,YE,44.6,527968.0,40000.0,30.45,967.0,Sanaa,10609.0,157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,29161922.0,38.0,NaN,26.6,12.91,10869523.0,15.552727,48.516388
193,Zambia,25,ZM,32.1,752618.0,16000.0,36.19,260.0,Lusaka,5141.0,212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,-13.133897,27.849332
194,Zimbabwe,38,ZW,41.9,390757.0,51000.0,30.68,263.0,Harare,10983.0,105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,-19.015438,29.154857

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [8]:
dic_paises_por_continente= {}

In [9]:
# Miramos todos los países que se encuentran en la columna "country"
paises = df_mergeworld["country"].values
paises

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [10]:
# Detectamos que el país "Sao Tome and Principe" está escrito en carácteres estraños: 'S�����������'

# Buscamos el índice de "San Marino", que es el país que està justo antes que el que queremos modificar.
# establecemos éste como índice 0
indice_san_marino = df_mergeworld[df_mergeworld["country"] == "San Marino"].index[0]

# AHora podemos buscar donde esta el índice de Encuentra el índice del país después de 'S�����������'
indice_pais_siguiente = indice_san_marino + 1


# Cambia el país en el DataFrame
df_mergeworld.at[indice_pais_siguiente, "country"] = "Sao Tome and Principe"

#  at se utiliza para asignar el nuevo valor a la celda específica en el DataFrame.

In [11]:
df_mergeworld["country"][150]
#Comprobamos que se ha cambiado el nombre

'Sao Tome and Principe'

In [12]:
df_mergeworld["country"].values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [13]:
# Creamos un diccionario donde key es el Continente y value los paises:

dic_paises_por_continente = {
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'East Timor', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Republic of Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    'North America': ['The Bahamas', 'Canada', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Guatemala', 'Honduras', 'Jamaica', 'Mexico', 'Panama', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

In [14]:
def pais_continente(pais, dic_paises_por_continente):
    for continente, paises in dic_paises_por_continente.items():
        if pais in paises:
            return continente

# probamos para uno:
pais = 'Armenia'
print(f"El país {pais} se encuentra en el continente: {pais_continente(pais, dic_paises_por_continente)}")

El país Armenia se encuentra en el continente: Asia

In [15]:
# Aplicamos la función "def pais_continente" a todo el data frame y
# creamos la nueva columna "continent":

df_mergeworld['continent'] = df_mergeworld['country'].apply(lambda x: pais_continente(x, dic_paises_por_continente))

In [16]:
df_mergeworld

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud,continent
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe
2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626,Africa
3,Andorra,164,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801,Europe
4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,912050.0,343000.0,17.88,58.0,Caracas,164175.0,2740.27,254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,28515829.0,59.7,NaN,73.3,8.80,25162368.0,6.423750,-66.589730,South America
191,Vietnam,314,VN,39.3,331210.0,522000.0,16.75,84.0,Hanoi,192668.0,163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,96462106.0,77.4,19.1,37.6,2.01,35332140.0,14.058324,108.277199,Asia
192,Yemen,56,YE,44.6,527968.0,40000.0,30.45,967.0,Sanaa,10609.0,157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,29161922.0,38.0,NaN,26.6,12.91,10869523.0,15.552727,48.516388,Asia
193,Zambia,25,ZM,32.1,752618.0,16000.0,36.19,260.0,Lusaka,5141.0,212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,17861030.0,74.6,16.2,15.6,11.43,7871713.0,-13.133897,27.849332,Africa
194,Zimbabwe,38,ZW,41.9,390757.0,51000.0,30.68,263.0,Harare,10983.0,105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,14645468.0,83.1,20.7,31.6,4.95,4717305.0,-19.015438,29.154857,Africa

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [17]:
df_mergeworld.to_csv("merge_world_2.csv",index = False)

_____

# Ejercicios groupby
1- ¿Cuál es la densidad de población promedio por continente?

2- ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [18]:
df_mergeworld.head(2)

# officiallanguage
# country
#lifeexpectancy

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,longitud,latitud,continent
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953,Asia
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331,Europe

In [19]:
# 1: Agrupamos los idiomas oficiales por país
idiomas_pais = df_mergeworld.groupby("officiallanguage")[["country"]].count().reset_index()
idiomas_pais

     officiallanguage  country
0           Afrikaans        1
1            Albanian        1
2             Amharic        1
3              Arabic       18
4            Armenian        1
..                ...      ...
71  Tuvaluan Language        1
72          Ukrainian        1
73               Urdu        1
74              Uzbek        1
75         Vietnamese        1

[76 rows x 2 columns]

In [20]:
# 2: Calculamos la esperanza de vida de promedio 
esperanza_vida_por_idioma = df_mergeworld.groupby("officiallanguage")["lifeexpectancy"].mean().reset_index().round(2)
esperanza_vida_por_idioma

     officiallanguage  lifeexpectancy
0           Afrikaans           63.90
1            Albanian           78.50
2             Amharic           66.20
3              Arabic           72.86
4            Armenian           74.90
..                ...             ...
71  Tuvaluan Language             NaN
72          Ukrainian           71.60
73               Urdu           67.10
74              Uzbek           71.60
75         Vietnamese           75.30

[76 rows x 2 columns]

3 - ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4- ¿Cuál es el salario mínimo por continente?

In [21]:
# El  salario mínimo promedio que se cobra agrupado por continente:
promedio_salario_minimo_continente = df_mergeworld.groupby('continent')['minimumwage'].mean().reset_index().round(2)
promedio_salario_minimo_continente

       continent  minimumwage
0         Africa         0.53
1           Asia         1.48
2         Europe         4.78
3  North America         2.53
4        Oceania         3.92
5  South America         1.58

In [22]:
# El mínimo salario que se cobra agrupado por continente:

minimo_salario_minimo_continente = df_mergeworld.groupby('continent')['minimumwage'].min().reset_index().round(2)
minimo_salario_minimo_continente

       continent  minimumwage
0         Africa         0.01
1           Asia         0.05
2         Europe         0.31
3  North America         0.05
4        Oceania         0.40
5  South America         0.01

5 - ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

6 - ¿Cuál es el porcentaje de población urbana promedio por continente?

In [23]:
df_mergeworld["urban_population"].isnull().sum()
#hay muchos nulos

5

In [24]:
df_mergeworld["urban_population"].count()

190

In [25]:
df_mergeworld["urban_population"].describe()

count    1.900000e+02
mean     2.230454e+07
std      7.543050e+07
min      5.464000e+03
25%      1.152961e+06
50%      4.678104e+06
75%      1.490324e+07
max      8.429340e+08
Name: urban_population, dtype: float64

In [26]:
# 1: calculamos la media de urban_population para cada continente
media_poblacion_ubana = df_mergeworld.groupby('continent')['urban_population'].mean().reset_index()
media_poblacion_ubana

       continent  urban_population
0         Africa      1.064831e+07
1           Asia      4.933036e+07
2         Europe      1.293913e+07
3  North America      3.710186e+07
4        Oceania      2.350117e+06
5  South America      2.999807e+07

In [27]:
#2 calculamos el total de población por continente
total_poblacion_continente = df_mergeworld.groupby('continent')['population'].sum().reset_index()
total_poblacion_continente

       continent    population
0         Africa  1.298193e+09
1           Asia  4.426883e+09
2         Europe  7.453570e+08
3  North America  5.537777e+08
4        Oceania  4.176245e+07
5  South America  4.285732e+08

In [28]:
# Si juntamos los pasos 2 y 3:

resultados_grupo = df_mergeworld.groupby('continent').agg(
    media_poblacion_urbana=('urban_population', 'mean'),
    total_poblacion_continente=('population', 'sum')).reset_index()
resultados_grupo

       continent  media_poblacion_urbana  total_poblacion_continente
0         Africa            1.064831e+07                1.298193e+09
1           Asia            4.933036e+07                4.426883e+09
2         Europe            1.293913e+07                7.453570e+08
3  North America            3.710186e+07                5.537777e+08
4        Oceania            2.350117e+06                4.176245e+07
5  South America            2.999807e+07                4.285732e+08

In [29]:
#3: Aplicamos el porcentaje
resultados_grupo['porcentaje_poblacion_urbana'] = (resultados_grupo['media_poblacion_urbana'] / resultados_grupo['total_poblacion_continente']) * 100
resultados_grupo['porcentaje_poblacion_urbana']

0    0.820241
1    1.114336
2    1.735965
3    6.699776
4    5.627345
5    6.999521
Name: porcentaje_poblacion_urbana, dtype: float64

In [30]:
# 4: Creamos un DataFrame solo con las columnas de interés
porcentaje_df = (resultados_grupo[['continent', 'porcentaje_poblacion_urbana']]).round(2)

porcentaje_df

       continent  porcentaje_poblacion_urbana
0         Africa                         0.82
1           Asia                         1.11
2         Europe                         1.74
3  North America                         6.70
4        Oceania                         5.63
5  South America                         7.00

7 - ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:
- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

8- ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.
Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.
- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

In [31]:
df_mergeworld['maternalmortalityratio']

0      638.0
1       15.0
2      112.0
3        NaN
4      241.0
       ...
190    125.0
191     43.0
192    164.0
193    213.0
194    458.0
Name: maternalmortalityratio, Length: 195, dtype: float64

In [32]:
# 1: calculamos la media de urban_population para cada continente
media_tasa_maternidad = df_mergeworld.groupby('continent')['maternalmortalityratio'].mean().reset_index()
media_tasa_maternidad

       continent  maternalmortalityratio
0         Africa              419.673077
1           Asia               76.755556
2         Europe                7.692308
3  North America               54.636364
4        Oceania               61.888889
5  South America               88.083333

In [33]:
# 2: tasa de impuestos total promedio para cada continente. "total_tax_rate" que representa la tasa de impuestos total en cada continente.

media_tasa_impuestos = df_mergeworld.groupby('continent')['totaltaxrate'].mean().reset_index()
media_tasa_impuestos

       continent  totaltaxrate
0         Africa     47.305882
1           Asia     32.002326
2         Europe     38.251220
3  North America     37.672727
4        Oceania     37.609091
5  South America     53.341667

In [34]:
# 3: Agregamos la columna con la relaciónentre tasa de maternidad e impuestos
df_mergeworld['relacion_tasa_maternidad_impuestos'] = media_tasa_maternidad['maternalmortalityratio'] / media_tasa_impuestos['totaltaxrate']

In [35]:
pais_max_relacion = df_mergeworld.loc[df_mergeworld['relacion_tasa_maternidad_impuestos'].idxmax(), 'country']
pais_max_relacion

'Afghanistan'

9 - Ejercicios bonus groupby:
- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.
- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?