# Ejercicios apply
1. Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas.

In [49]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
df_mergeworld = pd.read_csv("merge_world.csv")
df_mergeworld.head(1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,longitud,latitud
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')

- Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

In [3]:
lista_columnas = ["landarea", "armedforcessize", "co2-emissions", "gdp", "population", "urban_population", "latitud", "longitud", "cpi"]

In [4]:
def convertir_tipo2(columna):
    columna = (columna.str.replace(",", "."))
    return pd.to_numeric(columna, errors = 'coerce')

In [5]:
def convertir_tipo(columna):
    
    return pd.to_numeric(columna, errors = 'coerce')

In [6]:
df_mergeworld.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'longitud',
       'latitud'],
      dtype='object')

In [7]:
# Usamos Apply para aplicar la función 

df_mergeworld[lista_columnas] = (df_mergeworld[lista_columnas].apply(convertir_tipo2,axis=1)).round(2)

In [8]:
df_mergeworld

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,longitud,latitud
0,Afghanistan,60,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,...,0.28,NaN,48.9,9.3,71.4,11.12,NaN,"('33.93911 ', '67.709953')",NaN,NaN
1,Albania,105,AL,43.1,28.75,9.0,11.78,355.0,Tirana,4.54,...,1.20,NaN,55.7,18.6,36.6,12.33,NaN,"('41.153332 ', '20.168331')",NaN,NaN
2,Algeria,18,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.01,...,1.72,NaN,41.2,37.2,66.1,11.70,NaN,"('28.033886 ', '1.659626')",NaN,NaN
3,Andorra,164,AD,40.0,468.00,NaN,7.20,376.0,Andorra la Vella,469.00,...,3.33,77.14,NaN,NaN,NaN,NaN,67.87,"('42.506285 ', '1.521801')",NaN,NaN
4,Angola,26,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.69,...,0.21,NaN,77.5,9.2,49.1,6.89,NaN,"('-11.202692 ', '17.873887')",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,912.05,343.0,17.88,58.0,Caracas,164.18,...,1.92,NaN,59.7,NaN,73.3,8.80,NaN,"('6.42375 ', '-66.58973')",NaN,NaN
191,Vietnam,314,VN,39.3,331.21,522.0,16.75,84.0,Hanoi,192.67,...,0.82,NaN,77.4,19.1,37.6,2.01,NaN,"('14.058324 ', '108.277199')",NaN,NaN
192,Yemen,56,YE,44.6,527.97,40.0,30.45,967.0,Sanaa,10.61,...,0.31,NaN,38.0,NaN,26.6,12.91,NaN,"('15.552727 ', '48.516388')",NaN,NaN
193,Zambia,25,ZM,32.1,752.62,16.0,36.19,260.0,Lusaka,5.14,...,1.19,NaN,74.6,16.2,15.6,11.43,NaN,"('-13.133897 ', '27.849332')",NaN,NaN
194,Zimbabwe,38,ZW,41.9,390.76,51.0,30.68,263.0,Harare,10.98,...,0.21,NaN,83.1,20.7,31.6,4.95,NaN,"('-19.015438 ', '29.154857')",NaN,NaN

2. Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué continente pertenece cada país.

In [9]:
dicc_continentes: {}

In [10]:
# Miramos todos los países que se encuentran en la columna "country"
paises = df_mergeworld["country"].values
paises

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [16]:
# Detectamos que el país "Sao Tome and Principe" está escrito en carácteres estraños: 'S�����������'

# Buscamos el índice de "San Marino", que es el país que està justo antes que el que queremos modificar.
# establecemos éste como índice 0
indice_san_marino = df_mergeworld[df_mergeworld["country"] == "San Marino"].index[0]

# AHora podemos buscar donde esta el índice de Encuentra el índice del país después de 'S�����������'
indice_pais_siguiente = indice_san_marino + 1


# Cambia el país en el DataFrame
df_mergeworld.at[indice_pais_siguiente, "country"] = "Sao Tome and Principe"

#  at se utiliza para asignar el nuevo valor a la celda específica en el DataFrame.

In [20]:
df_mergeworld["country"][150]
#Comprobamos que se ha cambiado el nombre

'Sao Tome and Principe'

In [22]:
df_mergeworld["country"].values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [35]:
# Creamos un diccionario donde key es el Continente y value los paises:

dic_paises_por_continente = {
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestinian National Authority', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'East Timor', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Africa': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cape Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Uganda', 'Zambia', 'Zimbabwe'],
    'Europe': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Republic of Ireland', 'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom'],
    'North America': ['The Bahamas', 'Canada', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Guatemala', 'Honduras', 'Jamaica', 'Mexico', 'Panama', 'United States'],
    'South America': ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela'],
    'Oceania': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

In [38]:
def pais_continente(pais, dic_paises_por_continente):
    for continente, paises in dic_paises_por_continente.items():
        if pais in paises:
            return continente

# probamos para uno:
pais = 'Armenia'
print(f"El país {pais} se encuentra en el continente: {pais_continente(pais, dic_paises_por_continente)}")

El país Armenia se encuentra en el continente: Asia

In [45]:
# Aplicamos la función "def pais_continente" a todo el data frame y
# creamos la nueva columna "continent":

df_mergeworld['continent'] = df_mergeworld['country'].apply(lambda x: pais_continente(x, dic_paises_por_continente))

In [46]:
df_mergeworld

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,longitud,latitud,continent
0,Afghanistan,60,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,...,NaN,48.9,9.3,71.4,11.12,NaN,"('33.93911 ', '67.709953')",NaN,NaN,Asia
1,Albania,105,AL,43.1,28.75,9.0,11.78,355.0,Tirana,4.54,...,NaN,55.7,18.6,36.6,12.33,NaN,"('41.153332 ', '20.168331')",NaN,NaN,Europe
2,Algeria,18,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,150.01,...,NaN,41.2,37.2,66.1,11.70,NaN,"('28.033886 ', '1.659626')",NaN,NaN,Africa
3,Andorra,164,AD,40.0,468.00,NaN,7.20,376.0,Andorra la Vella,469.00,...,77.14,NaN,NaN,NaN,NaN,67.87,"('42.506285 ', '1.521801')",NaN,NaN,Europe
4,Angola,26,AO,47.5,NaN,117.0,40.73,244.0,Luanda,34.69,...,NaN,77.5,9.2,49.1,6.89,NaN,"('-11.202692 ', '17.873887')",NaN,NaN,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,912.05,343.0,17.88,58.0,Caracas,164.18,...,NaN,59.7,NaN,73.3,8.80,NaN,"('6.42375 ', '-66.58973')",NaN,NaN,South America
191,Vietnam,314,VN,39.3,331.21,522.0,16.75,84.0,Hanoi,192.67,...,NaN,77.4,19.1,37.6,2.01,NaN,"('14.058324 ', '108.277199')",NaN,NaN,Asia
192,Yemen,56,YE,44.6,527.97,40.0,30.45,967.0,Sanaa,10.61,...,NaN,38.0,NaN,26.6,12.91,NaN,"('15.552727 ', '48.516388')",NaN,NaN,Asia
193,Zambia,25,ZM,32.1,752.62,16.0,36.19,260.0,Lusaka,5.14,...,NaN,74.6,16.2,15.6,11.43,NaN,"('-13.133897 ', '27.849332')",NaN,NaN,Africa
194,Zimbabwe,38,ZW,41.9,390.76,51.0,30.68,263.0,Harare,10.98,...,NaN,83.1,20.7,31.6,4.95,NaN,"('-19.015438 ', '29.154857')",NaN,NaN,Africa

3. Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.

In [47]:
df_mergeworld.to_csv("merge_world_2.csv",index = False)

_____

# Ejercicios groupby
1- ¿Cuál es la densidad de población promedio por continente?

2- ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [51]:
df_mergeworld.head(2)

# officiallanguage
# country
#lifeexpectancy

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,longitud,latitud,continent
0,Afghanistan,60,AF,58.1,652.23,323.0,32.49,93.0,Kabul,8.67,149.90,2.3,AFN,4.47,2.1,0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,"('33.93911 ', '67.709953')",NaN,NaN,Asia
1,Albania,105,AL,43.1,28.75,9.0,11.78,355.0,Tirana,4.54,119.05,1.4,ALL,1.62,28.1,1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,"('41.153332 ', '20.168331')",NaN,NaN,Europe

In [80]:
# 1: Agrupamos los idiomas oficiales por país
idiomas_pais = df_mergeworld.groupby("officiallanguage")[["country"]].count().reset_index()
idiomas_pais

     officiallanguage  country
0           Afrikaans        1
1            Albanian        1
2             Amharic        1
3              Arabic       18
4            Armenian        1
..                ...      ...
71  Tuvaluan Language        1
72          Ukrainian        1
73               Urdu        1
74              Uzbek        1
75         Vietnamese        1

[76 rows x 2 columns]

In [89]:
# 2: Calculamos la esperanza de vida de promedio 
esperanza_vida_por_idioma = df_mergeworld.groupby("officiallanguage")["lifeexpectancy"].mean().reset_index().round(2)
esperanza_vida_por_idioma

     officiallanguage  lifeexpectancy
0           Afrikaans           63.90
1            Albanian           78.50
2             Amharic           66.20
3              Arabic           72.86
4            Armenian           74.90
..                ...             ...
71  Tuvaluan Language             NaN
72          Ukrainian           71.60
73               Urdu           67.10
74              Uzbek           71.60
75         Vietnamese           75.30

[76 rows x 2 columns]

3 - ¿Cuál es la tasa de mortalidad infantil promedio por moneda?

4- ¿Cuál es el salario mínimo por continente?

In [99]:
# El  salario mínimo promedio que se cobra agrupado por continente:
promedio_salario_minimo_continente = df_mergeworld.groupby('continent')['minimumwage'].mean().reset_index().round(2)
promedio_salario_minimo_continente

       continent  minimumwage
0         Africa         0.53
1           Asia         1.48
2         Europe         4.78
3  North America         2.53
4        Oceania         3.92
5  South America         1.58

In [101]:
# El mínimo salario que se cobra agrupado por continente:

minimo_salario_minimo_continente = df_mergeworld.groupby('continent')['minimumwage'].min().reset_index().round(2)
minimo_salario_minimo_continente

       continent  minimumwage
0         Africa         0.01
1           Asia         0.05
2         Europe         0.31
3  North America         0.05
4        Oceania         0.40
5  South America         0.01

5 - ¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:
- Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".
- Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".
- Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.
- Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

6 - ¿Cuál es el porcentaje de población urbana promedio por continente?

In [108]:
df_mergeworld["urban_population"].isnull().sum()
#hay muchos nulos

150

In [109]:
df_mergeworld["urban_population"].count()
# hay pocos datos

45

In [126]:
# 1: calculamos la media de urban_population para cada continente
media_poblacion_ubana = df_mergeworld.groupby('continent')['urban_population'].mean().reset_index()
media_poblacion_ubana

       continent  urban_population
0         Africa        503.776667
1           Asia        317.267500
2         Europe        366.025000
3  North America        187.305000
4        Oceania        103.882222
5  South America        296.585000

In [127]:
#2 calculamos el total de población por continente
total_poblacion_continente = df_mergeworld.groupby('continent')['population'].sum().reset_index()
total_poblacion_continente

       continent  population
0         Africa     2620.76
1           Asia     1691.37
2         Europe     2319.48
3  North America      461.29
4        Oceania     2378.73
5  South America     1364.14

In [144]:
# Si juntamos los pasos 2 y 3:

resultados_grupo = df_mergeworld.groupby('continent').agg(
    media_poblacion_urbana=('urban_population', 'mean'),
    total_poblacion_continente=('population', 'sum')).reset_index()
resultados_grupo

       continent  media_poblacion_urbana  total_poblacion_continente
0         Africa              503.776667                     2620.76
1           Asia              317.267500                     1691.37
2         Europe              366.025000                     2319.48
3  North America              187.305000                      461.29
4        Oceania              103.882222                     2378.73
5  South America              296.585000                     1364.14

In [147]:
#3: Aplicamos el porcentaje
resultados_grupo['porcentaje_poblacion_urbana'] = (resultados_grupo['media_poblacion_urbana'] / resultados_grupo['total_poblacion_continente']) * 100
resultados_grupo['porcentaje_poblacion_urbana']

0    19.222541
1    18.758019
2    15.780477
3    40.604609
4     4.367130
5    21.741537
Name: porcentaje_poblacion_urbana, dtype: float64

In [149]:
# 4: Creamos un DataFrame solo con las columnas de interés
porcentaje_df = (resultados_grupo[['continent', 'porcentaje_poblacion_urbana']]).round(2)

porcentaje_df

       continent  porcentaje_poblacion_urbana
0         Africa                        19.22
1           Asia                        18.76
2         Europe                        15.78
3  North America                        40.60
4        Oceania                         4.37
5  South America                        21.74

7 - ¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:
- Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.
- Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

8- ¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:
- Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.
Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.
- Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.
- Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

9 - Ejercicios bonus groupby:
- ¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.
- ¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?